:root {
    --ten-pixel : 10px;
}


nav {
    background-color: rgba(248, 249, 250, 1);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: var(--ten-pixel);
    justify-content: space-between;
}

.container {
    margin-right: var(--ten-pixel);
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    flex-grow: 1;
}

.navbar-nav > a {
    text-decoration: none;
    color: black;
    padding: var(--ten-pixel);
}

@media screen and (max-width: 768px) {
    .navbar-toggler {
        display: block;
        cursor: pointer;
    }

    .navbar-nav {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 60px;
        width: 100%;
        left: 0;
    }

    .navbar-nav > a {
        border: 1px solid #000;
    }

    .navbar-toggler:hover + .navbar-nav {
        display: flex;
        background: #fff;
    }
}