*{
    margin: 0;
    padding: 0;
}

:root {
    --background-color-root :  #f5f5dc;
    --text-color: #000;
    --blue-color: #0000ff;
}

.heroImage {
    background-color: var(--background-color-root);
    border: 1px solid #808080;
    padding: 20px 30px;
}

.heroImage > section {
    display: inline-block;
    font-size: 18px;
    color: var(--text-color);
}

.heroImage .heroImageContainer {
    height: 300px;
    margin-right: 30px;
}

.heroImage .heroImageContainer img{
    height: 300px;
    width: auto;
}

.heroImage .heroImageContent h2{
    font-size: 24px;
    color: var(--blue-color);
}

.heroImage .heroImageContent ul li {
    list-style-type: circle;
}

.heroImageContent > a {
    display: inherit;
    border-radius: 10px;
    background: var(--blue-color);
    color: #fff;
    padding: 5px 25px;
    margin: 10px;
}