*{
    margin: 0;
    padding: 0;
}

:root {
    --background-color-root : #e0ffff;
    --text-color: #000;
    --orange-color: #ffa500;
}

.cardsList {
    background: var(--background-color-root);
    padding: 5px;
    font-size: 12px;
    color: var(--text-color);
}

.cardsList > section {
    display: block;
    margin: 5px;
}

.cardsList--simple .cardsList__simpleCard{
    display: inline-block;
    border: 1px solid var(--text-color);
    padding: 10px;
    margin: 5px;
}

.cardsList__simpleCard img{
    width: 300px;
    height: 200px;
    /*do not control image from css, ask for correct image/add attributes in HTML only*/
}
.cards__info {
    margin-bottom: 10px;
}

.cards__info > p{
    display: inline; 
}

.cards__info--decorated {
    color: var(--orange-color);
    margin-right: 120px;
}
